apiVersion: apps/v1
kind: Deployment
metadata:
  name: findzone-nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
        app: findzone-fe
  template:
    metadata:
      labels:
        app: findzone-fe
    spec:
      containers:
        - name: findzone-fe
          image: gcr.io/yapp16-findzone/findzone-fe:latest
          ports:
            - containerPort: 80