.search1_select_done {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  margin-top: 2rem;

  .search1_elements_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    @media screen and (min-width: 1060px) {
      height: 70vh;
      justify-content: center;
      align-items: center;
    }
  }

  .input_header_wrapper {
    margin-bottom: 12px;
    @media screen and (min-width: 1060px) {
      margin-bottom: 42px;
    }
    .STEP-1 {
      margin-right: 12px;
      font-family: Gotham;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.39;
      letter-spacing: -1.25px;
      color: #40aee1;
      @media screen and (min-width: 1060px) {
        font-size: 40px;
        line-height: 0.98;
        letter-spacing: -1.79px;
      }
    }
  
    .location {
      width: 86px;
      height: 39px;
      font-family: Gotham;
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.95;
      letter-spacing: -0.89px;
      color: #40aee1;
      @media screen and (min-width: 1060px) {
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: -1.34px;
      }
    }
    
  }

  .input_question_wrapper {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1060px) {
      margin-bottom: 80px;
    }
    .Rectangle_ment {
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.71px;
      color: #b6b6b6;
      @media screen and (min-width: 1060px) {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -1.07px;
      }
    }
  }
  }



  .StyledHashTag {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.62px;
    color: #ffffff;
    width: 74px;
    height: 34px;
    border-radius: 18.5px;
    box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
    border: solid 1px #2a2a2a;
    display: flex;
    text-align: center;
    line-height: 2.3em;
    margin-right: 8px;
    justify-content: center;
    @media screen and (min-width: 1060px) {
      width: 111px;
      height: 49px;
      border-radius: 48px;
      border: solid 2px #2a2a2a;
      background-color: var(--black);
      font-family: NotoSansCJKkr;
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.89px;
      color: #ffffff;
      line-height: 49px;
      text-align: center;
      justify-content: center;
    }
    
  }
  
  .hashTag_Wrapper{
    display: flex;
    padding-bottom: 20px;
    @media screen and (min-width: 1060px) {
      padding-bottom: 33px;
    }
  }

  .SelectedHashTag {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.62px;
    color: #ffffff;
    width: 74px;
    height: 34px;
    border-radius: 18.5px;
    box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
    border: solid 1px #2a2a2a;
    background-color: #2a2a2a;
    // padding-left: 16px;
    text-align: center;
    line-height: 2.3em;
    display: flex;
    margin-right: 8px;
    // position: absolute;
    @media screen and (min-width: 1060px) {
      width: 45px;
      height: 23px;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.15;
      letter-spacing: -0.89px;
      color: #ffffff;
      width: 111px;
      height: 49px;
      border-radius: 48px;
      border: solid 2px #2a2a2a;
      background-color: #2a2a2a;
      line-height: 49px;
      justify-content: center;
    }
  }

.option {
  width: 86px;
  height: 39px;
  font-family: Gotham;
  font-size: 15px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.95;
  letter-spacing: -0.89px;
  color: #40aee1;
}



.text-style-1 {
  font-weight: 300;
}



.Rectangle_location {
  width: 40px;
  height: 40px;
  border-radius: 18.5px;
  box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
  border: solid 1px #2a2a2a;
  background-color: #2a2a2a;
}

.Rectangle {
  width: 320px;
  height: 51px;
  border-radius: 8px;
  background-color: #323232;
  color: #ffffff;
}

.check1 {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.ment {
  width: 34px;
  height: 23px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: -0.62px;
  color: var(--greyish);
}

.Rectangle_Long {
  width: 320px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
  background-color:#2a2a2a;
  border: none;
  text-align: center;
  @media screen and (min-width: 1060px) {
    width: 600px;
    height: 65px;
    background-color:#2a2a2a;
    margin-bottom: 110px;
    font-size: 20px;
    // height: 60px;
  }
}

.hashtag {
  width: 106px;
  height: 23px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: -0.62px;
  color: #5e5e5e;
  text-align: center;
}

.icon_gps {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.pop_up {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.icon_gps {
  width: 16px;
  height: 16px;
  object-fit: contain;
}


.transportList {
  width: 320px;
  height: 51px;
  border-radius: 8px;
  background-color: #323232;
  color: white;
}

.styledLoadingBlueText {
  width: 143px;
  height: 192px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.89px;
  text-align: center;
  color: #40aee1;
}

.styledLoadingWhiteText {
  font-family: Gotham;
  font-weight: 300;
  color: #ffffff;
}

.styledInput {
  width: 32px;
  height: 23px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: -0.62px;
  color: #ffffff;
  background-color: #2a2a2a;
  width: 74px;
  height: 34px;
  border-radius: 18.5px;
  box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
  border: solid 1px #2a2a2a;
  outline: none;
  display: flex;
  @media screen and (min-width: 1060px) {
    width: 111px;
    height: 49px;
    border-radius: 48px;
    border: solid 2px var(--black);
    font-size: 20px;
  }
}