.search_select_done {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  // 
  // align-items: flex-start;
  justify-content: flex-start;

  @media screen and (min-width: 1060px) {
    align-items: center;
    justify-content: center;
  }


  .search_elements_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    @media screen and (min-width: 1060px) {
      // height: 70vh;
      justify-content: center;
      align-items: center;
    }
  }

  .input_header_wrapper {
    margin-bottom: 12px;
    @media screen and (min-width: 1060px) {
      margin-bottom: 42px;
    }

    // STEP1, 2, 3
    .STEP {
      margin-right: 12px;
      font-family: Gotham;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.39;
      letter-spacing: -1.25px;
      color: #40aee1;
      @media screen and (min-width: 1060px) {
        font-size: 40px;
        line-height: 0.98;
        letter-spacing: -1.79px;
      }
    }
  
    // 옆에 / 텍스트
    .slash {
      width: 86px;
      height: 39px;
      font-family: Gotham;
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.95;
      letter-spacing: -0.89px;
      color: #40aee1;
      @media screen and (min-width: 1060px) {
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: -1.34px;
      }
    }
    
  }

  // 부가 문장 멘트
  .input_question_wrapper {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1060px) {
      margin-bottom: 80px;
    }
    .Rectangle_ment {
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.71px;
      color: #b6b6b6;
      @media screen and (min-width: 1060px) {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -1.07px;
      }
    }
  }
  }

  // 문구 아래 선택 부분
  .contents{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 8px;
    overflow: hidden;
    @media screen and (min-width: 1060px) {
      // height: 70vh;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

    }
  }

  //해ㅣ태그 부분
  .hashTag_Wrapper{
    display: flex;
    padding-bottom: 20px;
    @media screen and (min-width: 1060px) {
      padding-bottom: 33px;
    }
    //해시태그 기본
    .StyledHashTag {
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: -0.62px;
      color: #ffffff;
      width: 74px;
      height: 34px;
      border-radius: 18.5px;
      box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
      border: solid 1px #2a2a2a;
      display: flex;
      text-align: center;
      line-height: 2.3em;
      margin-right: 8px;
      justify-content: center;
      @media screen and (min-width: 1060px) {
        width: 111px;
        height: 49px;
        border-radius: 48px;
        border: solid 2px #2a2a2a;
        background-color: var(--black);
        font-family: NotoSansCJKkr;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.89px;
        color: #ffffff;
        line-height: 49px;
        text-align: center;
        justify-content: center;
      }
      
    }
    // 선택된 해시태그
    .SelectedHashTag {
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: -0.62px;
      color: #ffffff;
      width: 74px;
      height: 34px;
      border-radius: 18.5px;
      box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
      border: solid 1px #2a2a2a;
      background-color: #2a2a2a;
      text-align: center;
      line-height: 2.3em;
      display: flex;
      margin-right: 8px;
      justify-content: center;
      @media screen and (min-width: 1060px) {
        width: 45px;
        height: 23px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.15;
        letter-spacing: -0.89px;
        color: #ffffff;
        width: 111px;
        height: 49px;
        border-radius: 48px;
        border: solid 2px #2a2a2a;
        background-color: #2a2a2a;
        line-height: 49px;
        justify-content: center;
      }
    }

    //해시태그 추가 입력 인풋
    .styledInput {
      width: 32px;
      height: 23px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: -0.62px;
      color: #ffffff;
      background-color: #2a2a2a;
      width: 74px;
      height: 34px;
      border-radius: 18.5px;
      box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
      border: solid 1px #2a2a2a;
      outline: none;
      display: flex;
      @media screen and (min-width: 1060px) {
        width: 111px;
        height: 49px;
        border-radius: 48px;
        border: solid 2px var(--black);
        font-size: 20px;
      }
    }
  }
  // 주소 입력 창
  .Rectangle_Long {
    width: 320px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.03);
    background-color:#2a2a2a;
    border: none;
    text-align: center;
    @media screen and (min-width: 1060px) {
      width: 600px;
      height: 65px;
      background-color:#2a2a2a;
      // margin-bottom: 110px;
      font-size: 20px;
    }
  }
  

.option {
  font-family: Gotham;
  font-size: 15px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.95;
  letter-spacing: -0.89px;
  color: #40aee1;
  margin-top: 9px;
  margin-left: 2rem;
  @media screen and (min-width: 1060px) {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.8px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}



.text-style-1 {
  font-weight: 300;
}



.Rectangle {
  width: 320px;
  height: 51px;
  background-color: #323232;
  color: #ffffff;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  border-bottom: 1px solid black;
  &:last-child {
    border-bottom: none;
  }
  // line-height: 1.64;
  line-height: 3.8;
  letter-spacing: -0.62px;
  color: #ffffff;
  @media screen and (min-width: 1060px) {
    width: 600px;
    height: 51px;
    background-color: #323232;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: none;
    }
    color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: -0.89px;
    color: #ffffff;
  }
}

.check1 {
  width: 17px;
  height: 17px;
  object-fit: contain;
  margin-right: 10px;
  margin-left: 16px;
  
  @media screen and (min-width: 1060px) {
    margin-right: 18px;
    margin-left: 20px;
  }
}

// .ment {
//   width: 34px;
//   height: 23px;
//   font-family: NotoSansCJKkr;
//   font-size: 14px;
//   font-weight: 300;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.64;
//   letter-spacing: -0.62px;
//   color: var(--greyish);
// }


.pop_up {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.icon_gps {
  width: 16px;
  height: 16px;
  object-fit: contain;
}


.transportList {
  width: 320px;
  height: 51px;
  border-radius: 8px;
  background-color: #323232;
  color: white;
}

.styledLoadingBlueText {
  width: 143px;
  height: 192px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.89px;
  text-align: center;
  color: #40aee1;
}

.styledLoadingWhiteText {
  font-family: Gotham;
  font-weight: 300;
  color: #ffffff;
}

