.App {
  height: 100%;
  background-color: var(--BackgroundColor);
  overflow-y: auto;

  .modal-section {
    display: flex;
    justify-content: center;
  }

  header {
    
  }
  
  main {
    height: 100%;
  }
}