.App {
  width: 100%;
  height: 100%;
  background-color: var(--BackgroundColor);
  overflow-y: auto;

  header{
    top: 0px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
  }

  main{
    height: calc(100% - 115px);
    width: 100%;
    max-width: 1920px;
  }

  footer{
    width: 100%;
    max-width: 1920px;
  }

  // header {
    
  // }
  
  // main {
  //   height: 100%;
  // }
}